@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

.shadow-custom {
  box-shadow: 0px 8px 24px #00000011;
}

.slick-slider button {
  height: 50px;
  width: 50px;
  background-color: #3f355c;
  z-index: 5;
  border-radius: 100px;
}

.slick-slider button:hover {
  background-color: #1414df;
}

.slick-slider button::before {
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  box-shadow: 0px 3px 5px #0000003d;
  border-radius: 100px;
}
 
.slick-slider .slick-next {
  right: -12px;
}
.slick-slider .slick-prev {
  left: -12px;
}